<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/flights/show.css">
  <%- include('../partials/nav') %>
    <main>
      <h1>
        <%= title %>
      </h1>
      <section>
        <div>Airplane: </div>
        <div>
          <%= flight.airplane %>
        </div>
        <div>Airport:</div>
        <div>
          <%= flight.airport %>
        </div>
        <div>Flight Number:</div>
        <div>
          <%= flight.flightNo %>
        </div>
        <div>Depart:</div>
        <div>
          <%= flight.depart.toDateString() %>
        </div>
        <div>Time:</div>
        <div>
          <%= flight.timeDepart %>
        </div>
      </section>
      <a href="/flights/<%= flight._id %>/edit"><button>Edit Flight</button></a>
    </main>
    <%- include('../partials/footer') %>